<section class="fcListing"> 
 <div class="main"> 
  <div class="left"> 
   <div class="promotion"> 
    <span class="name"> <a href="/fightcenter/events/56676-usaca-black-tie-brawl-5">USACA</a> </span> 
    <span class="datetime"> Thursday, November 29, 7:30 PM ET </span> 
   </div> 
   <div class="geography"> 
    <img class="eventFlag" src="/assets/flags/US-5781b16534d0a403efbc7d336f1667b8.gif" alt="Us"> 
    <span class="venue">The Bomb Factory</span> 
    <span class="venue-location">Dallas, Texas</span> 
    <span class="region"> <a title="MMA Region Page" href="/regions/us-southwest">US Southwest Region</a> </span> 
   </div> 
   <div class="listing"> 
    <span class="bout" title="Bout Page"><a href="/fightcenter/bouts/397031-usaca-emmanuel-calhoune-vs-juan-carlos">Calhoune vs. Carlos</a></span> 
    <span class="billing">Main Card</span> 
   </div> 
  </div> 
  <div class="right"> 
   <div class="promotionLogo"> 
    <a href="/fightcenter/promotions/1815-legacy-fighting-alliance-lfa"> <img alt="LFA" class="promotionLogo" src="https://images.tapology.com/logo_squares/1815/icon_bw/Legacy_Fighting_Alliance-logo-sq.jpg?1474384735"> </a> 
   </div> 
  </div> 
 </div> 
</section>
<section class="fcListing"> 
 <div class="main"> 
  <div class="left"> 
   <div class="promotion"> 
    <span class="name"> <a href="/fightcenter/events/55504-bellator-210-manhoef-vs-njokuani">Bellator 210</a> </span> 
    <span class="datetime"> Friday, November 30, 9:00 PM ET </span> 
   </div> 
   <div class="geography"> 
    <img class="eventFlag" src="/assets/flags/US-5781b16534d0a403efbc7d336f1667b8.gif" alt="Us"> 
    <span class="venue">WinStar World Casino and Resort</span> 
    <span class="venue-location">Thackerville, Oklahoma</span> 
    <span class="region"> <a title="MMA Region Page" href="/regions/us-southwest">US Southwest Region</a> </span> 
   </div> 
   <div class="listing"> 
    <span class="bout" title="Bout Page"><a href="/fightcenter/bouts/393606-bellator-210-chidi-chidi-bang-bang-njokuani-vs-john-salter">Njokuani vs. Salter</a></span> 
    <span class="billing">Main Event</span> 
   </div> 
  </div> 
  <div class="right"> 
   <div class="promotionLogo"> 
    <a href="/fightcenter/promotions/2-bellator-fighting-championships-bfc"> <img alt="BFC" class="promotionLogo" src="https://images.tapology.com/logo_squares/2/icon_bw/Bellator-MMA-logo-square.jpg?1357258228"> </a> 
   </div> 
  </div> 
 </div> 
</section>
<section class="fcListing"> 
 <div class="main"> 
  <div class="left"> 
   <div class="promotion"> 
    <span class="name"> <a href="/fightcenter/events/56314-lfa-55-johns-vs-yanez">LFA 55</a> </span> 
    <span class="datetime"> Friday, November 30, 9:00 PM ET </span> 
   </div> 
   <div class="geography"> 
    <img class="eventFlag" src="/assets/flags/US-5781b16534d0a403efbc7d336f1667b8.gif" alt="Us"> 
    <span class="venue">The Bomb Factory</span> 
    <span class="venue-location">Dallas, Texas</span> 
    <span class="region"> <a title="MMA Region Page" href="/regions/us-southwest">US Southwest Region</a> </span> 
   </div> 
   <div class="listing"> 
    <span class="bout" title="Bout Page"><a href="/fightcenter/bouts/393700-lfa-55-miles-chapo-johns-vs-adrian-yanez">Johns vs. Yanez</a></span> 
    <span class="billing">Main Event Title Fight</span> 
   </div> 
  </div> 
  <div class="right"> 
   <div class="promotionLogo"> 
    <a href="/fightcenter/promotions/1815-legacy-fighting-alliance-lfa"> <img alt="LFA" class="promotionLogo" src="https://images.tapology.com/logo_squares/1815/icon_bw/Legacy_Fighting_Alliance-logo-sq.jpg?1474384735"> </a> 
   </div> 
  </div> 
 </div> 
</section>
<section class="fcListing"> 
 <div class="main"> 
  <div class="left"> 
   <div class="promotion"> 
    <span class="name"> <a href="/fightcenter/events/54136-the-ultimate-fighter-28-finale">The Ultimate Fighter 28 Finale</a> </span> 
    <span class="datetime"> Friday, November 30, 10:00 PM ET </span> 
   </div> 
   <div class="geography"> 
    <img class="eventFlag" src="/assets/flags/US-5781b16534d0a403efbc7d336f1667b8.gif" alt="Us"> 
    <span class="venue">The Pearl at the Palms</span> 
    <span class="venue-location">Las Vegas, Nevada</span> 
    <span class="region"> <a title="MMA Region Page" href="/regions/us-west">US West Region</a> </span> 
   </div> 
   <div class="listing"> 
    <span class="bout" title="Bout Page"><a href="/fightcenter/bouts/385264-the-ultimate-fighter-28-finale-rafael-dos-anjos-vs-kamaru-the-nigerian-nightmare-usman">dos Anjos vs. Usman</a></span> 
    <span class="billing">Main Event</span> 
   </div> 
  </div> 
  <div class="right"> 
   <div class="promotionLogo"> 
    <a href="/fightcenter/promotions/1-ultimate-fighting-championship-ufc"> <img alt="UFC" class="promotionLogo" src="https://images.tapology.com/logo_squares/1/icon_bw/UFC-Ultimate-Fighting-Championship-logo-square.jpg?1527187715"> </a> 
   </div> 
  </div> 
 </div> 
</section>
<section class="fcListing"> 
 <div class="main"> 
  <div class="left"> 
   <div class="promotion"> 
    <span class="name"> <a href="/fightcenter/events/55779-ksw-46">KSW 46</a> </span> 
    <span class="datetime"> Saturday, December 01, 10:00 AM ET </span> 
   </div> 
   <div class="geography"> 
    <img class="eventFlag" src="/assets/flags/PL-52e50b769d7fcebe25fce489cea9b885.gif" alt="Pl"> 
    <span class="venue">Arena Gliwice</span> 
    <span class="venue-location">Gliwice, Poland</span> 
    <span class="region"> <a title="MMA Region Page" href="/regions/europe-eastern">Europe Eastern Region</a> </span> 
   </div> 
   <div class="listing"> 
    <span class="bout" title="Bout Page"><a href="/fightcenter/bouts/389479-ksw-46-tomasz-zyrafa-narkun-vs-mamed-cannibal-khalidov-ii">Narkun vs. Khalidov II</a></span> 
    <span class="billing">Main Event</span> 
   </div> 
  </div> 
  <div class="right"> 
   <div class="promotionLogo"> 
    <a href="/fightcenter/promotions/9-konfrontacja-sztuk-walki-ksw"> <img alt="KSW" class="promotionLogo" src="https://images.tapology.com/logo_squares/9/icon_bw/KSW-Logo-square.jpg?1526001152"> </a> 
   </div> 
  </div> 
 </div> 
</section>
<section class="fcListing"> 
 <div class="main"> 
  <div class="left"> 
   <div class="promotion"> 
    <span class="name"> <a href="/fightcenter/events/55875-bellator-211-sakara-vs-kauppinen">Bellator 211</a> </span> 
    <span class="datetime"> Saturday, December 01, 4:00 PM ET </span> 
   </div> 
   <div class="geography"> 
    <img class="eventFlag" src="/assets/flags/IT-7c208bf7e4181f7505305a418a2ade5c.gif" alt="It"> 
    <span class="venue">RDS Stadium</span> 
    <span class="venue-location">Genoa, Italy</span> 
    <span class="region"> <a title="MMA Region Page" href="/regions/western-europe">Europe Western Region</a> </span> 
   </div> 
   <div class="listing"> 
    <span class="bout" title="Bout Page"><a href="/fightcenter/bouts/389764-bellator-211-alessio-legionarius-sakara-vs-kent-the-hammerhorn-kauppinen">Sakara vs. Kauppinen</a></span> 
    <span class="billing">Main Event</span> 
   </div> 
  </div> 
  <div class="right"> 
   <div class="promotionLogo"> 
    <a href="/fightcenter/promotions/2-bellator-fighting-championships-bfc"> <img alt="BFC" class="promotionLogo" src="https://images.tapology.com/logo_squares/2/icon_bw/Bellator-MMA-logo-square.jpg?1357258228"> </a> 
   </div> 
  </div> 
 </div> 
</section>
<section class="fcListing"> 
 <div class="main"> 
  <div class="left"> 
   <div class="promotion"> 
    <span class="name"> <a href="/fightcenter/events/54137-ufc-fight-night-142">UFC Fight Night 142</a> </span> 
    <span class="datetime"> Saturday, December 01, 10:00 PM ET </span> 
   </div> 
   <div class="geography"> 
    <img class="eventFlag" src="/assets/flags/AU-03226de7c5fecc624183273b43b25524.gif" alt="Au"> 
    <span class="venue">Adelaide Entertainment Center</span> 
    <span class="venue-location">Adelaide, South Australia</span> 
    <span class="region"> <a title="MMA Region Page" href="/regions/australia">Australia &amp; New Zealand Region</a> </span> 
   </div> 
   <div class="listing"> 
    <span class="bout" title="Bout Page"><a href="/fightcenter/bouts/383704-ufc-fight-night-142-junior-cigano-dos-santos-vs-tai-bam-bam-tuivasa">dos Santos vs. Tuivasa</a></span> 
    <span class="billing">Main Event</span> 
   </div> 
  </div> 
  <div class="right"> 
   <div class="promotionLogo"> 
    <a href="/fightcenter/promotions/1-ultimate-fighting-championship-ufc"> <img alt="UFC" class="promotionLogo" src="https://images.tapology.com/logo_squares/1/icon_bw/UFC-Ultimate-Fighting-Championship-logo-square.jpg?1527187715"> </a> 
   </div> 
  </div> 
 </div> 
</section>
<section class="fcListing"> 
 <div class="main"> 
  <div class="left"> 
   <div class="promotion"> 
    <span class="name"> <a href="/fightcenter/events/55719-one-championship-destiny-of-champions">ONE Championship</a> </span> 
    <span class="datetime"> Friday, December 07, 7:00 AM ET </span> 
   </div> 
   <div class="geography"> 
    <img class="eventFlag" src="/assets/flags/MY-fe09f78994b297c9068cb9878070ef12.gif" alt="My"> 
    <span class="venue">Axiata Arena</span> 
    <span class="venue-location">Kuala Lumpur, Malaysia</span> 
    <span class="region"> <a title="MMA Region Page" href="/regions/southeast-asia">Asia Southeast Region</a> </span> 
   </div> 
   <div class="listing"> 
    <span class="bout" title="Bout Page"><a href="/fightcenter/bouts/397028-one-championship-agilan-the-alligator-thani-vs-kiamrian-brazen-abbasov">Thani vs. Abbasov</a></span> 
    <span class="billing">Main Event</span> 
   </div> 
  </div> 
  <div class="right"> 
   <div class="promotionLogo"> 
    <a href="/fightcenter/promotions/61-one-fighting-championship-ofc"> <img alt="ONE" class="promotionLogo" src="https://images.tapology.com/logo_squares/61/icon_bw/One-Fighting-Championship-OFC-MMA-logo-square.jpg?1381722643"> </a> 
   </div> 
  </div> 
 </div> 
</section>
<section class="fcListing"> 
 <div class="main"> 
  <div class="left"> 
   <div class="promotion"> 
    <span class="name"> <a href="/fightcenter/events/56318-lfa-56-hubbard-vs-mota">LFA 56</a> </span> 
    <span class="datetime"> Friday, December 07, 9:00 PM ET </span> 
   </div> 
   <div class="geography"> 
    <img class="eventFlag" src="/assets/flags/US-5781b16534d0a403efbc7d336f1667b8.gif" alt="Us"> 
    <span class="venue">Mystic Lake Casino Hotel</span> 
    <span class="venue-location">Prior Lake, Minnesota</span> 
    <span class="region"> <a title="MMA Region Page" href="/regions/us-midwest">US Midwest Region</a> </span> 
   </div> 
   <div class="listing"> 
    <span class="bout" title="Bout Page"><a href="/fightcenter/bouts/393720-lfa-56-austin-thud-hubbard-vs-killys-mota">Hubbard vs. Mota</a></span> 
    <span class="billing">Main Event Title Fight</span> 
   </div> 
  </div> 
  <div class="right"> 
   <div class="promotionLogo"> 
    <a href="/fightcenter/promotions/1815-legacy-fighting-alliance-lfa"> <img alt="LFA" class="promotionLogo" src="https://images.tapology.com/logo_squares/1815/icon_bw/Legacy_Fighting_Alliance-logo-sq.jpg?1474384735"> </a> 
   </div> 
  </div> 
 </div> 
</section>
<section class="fcListing"> 
 <div class="main"> 
  <div class="left"> 
   <div class="promotion"> 
    <span class="name"> <a href="/fightcenter/events/54119-ufc-231">UFC 231</a> </span> 
    <span class="datetime"> Saturday, December 08, 10:00 PM ET </span> 
   </div> 
   <div class="geography"> 
    <img class="eventFlag" src="/assets/flags/CA-623c56b18b77b88150b2d37906882d4b.gif" alt="Ca"> 
    <span class="venue">Scotiabank Arena</span> 
    <span class="venue-location">Toronto, Ontario, Canada</span> 
    <span class="region"> <a title="MMA Region Page" href="/regions/canada">Canada Region</a> </span> 
   </div> 
   <div class="listing"> 
    <span class="bout" title="Bout Page"><a href="/fightcenter/bouts/382835-ufc-231-max-blessed-holloway-vs-brian-t-city-ortega">Holloway vs. Ortega</a></span> 
    <span class="billing">Main Event Title Fight</span> 
   </div> 
  </div> 
  <div class="right"> 
   <div class="promotionLogo"> 
    <a href="/fightcenter/promotions/1-ultimate-fighting-championship-ufc"> <img alt="UFC" class="promotionLogo" src="https://images.tapology.com/logo_squares/1/icon_bw/UFC-Ultimate-Fighting-Championship-logo-square.jpg?1527187715"> </a> 
   </div> 
  </div> 
 </div> 
</section>
<section class="fcListing"> 
 <div class="main"> 
  <div class="left"> 
   <div class="promotion"> 
    <span class="name"> <a href="/fightcenter/events/55630-bellator-211">Bellator 212</a> </span> 
    <span class="datetime"> Friday, December 14, 9:00 PM ET </span> 
   </div> 
   <div class="geography"> 
    <img class="eventFlag" src="/assets/flags/US-5781b16534d0a403efbc7d336f1667b8.gif" alt="Us"> 
    <span class="venue">Neal S. Blaisdell Center</span> 
    <span class="venue-location">Honolulu, Hawaii</span> 
    <span class="region"> <a title="MMA Region Page" href="/regions/hawaii">Hawaii Region</a> </span> 
   </div> 
   <div class="listing"> 
    <span class="bout" title="Bout Page"><a href="/fightcenter/bouts/387376-bellator-211-brent-primus-vs-iron-michael-chandler-ii">Primus vs. Chandler II</a></span> 
    <span class="billing">Main Event Title Fight</span> 
   </div> 
  </div> 
  <div class="right"> 
   <div class="promotionLogo"> 
    <a href="/fightcenter/promotions/2-bellator-fighting-championships-bfc"> <img alt="BFC" class="promotionLogo" src="https://images.tapology.com/logo_squares/2/icon_bw/Bellator-MMA-logo-square.jpg?1357258228"> </a> 
   </div> 
  </div> 
 </div> 
</section>
<section class="fcListing"> 
 <div class="main"> 
  <div class="left"> 
   <div class="promotion"> 
    <span class="name"> <a href="/fightcenter/events/54138-ufc-fight-night-143">UFC on FOX 31</a> </span> 
    <span class="datetime"> Saturday, December 15, 8:00 PM ET </span> 
   </div> 
   <div class="geography"> 
    <img class="eventFlag" src="/assets/flags/US-5781b16534d0a403efbc7d336f1667b8.gif" alt="Us"> 
    <span class="venue">Wisconsin Entertainment and Sports Center</span> 
    <span class="venue-location">Milwaukee, Wisconsin</span> 
    <span class="region"> <a title="MMA Region Page" href="/regions/us-midwest">US Midwest Region</a> </span> 
   </div> 
   <div class="listing"> 
    <span class="bout" title="Bout Page"><a href="/fightcenter/bouts/389967-ufc-on-fox-31-kevin-motown-phenom-lee-vs-ragin-al-iaquinta">Lee vs. Iaquinta II</a></span> 
    <span class="billing">Main Event</span> 
   </div> 
  </div> 
  <div class="right"> 
   <div class="promotionLogo"> 
    <a href="/fightcenter/promotions/1-ultimate-fighting-championship-ufc"> <img alt="UFC" class="promotionLogo" src="https://images.tapology.com/logo_squares/1/icon_bw/UFC-Ultimate-Fighting-Championship-logo-square.jpg?1527187715"> </a> 
   </div> 
  </div> 
 </div> 
</section>
<section class="fcListing"> 
 <div class="main"> 
  <div class="left"> 
   <div class="promotion"> 
    <span class="name"> <a href="/fightcenter/events/56175-invicta-fc-33-yu-frey-vs-grusander-2">Invicta FC 33</a> </span> 
    <span class="datetime"> Saturday, December 15, 8:00 PM ET </span> 
   </div> 
   <div class="geography"> 
    <img class="eventFlag" src="/assets/flags/US-5781b16534d0a403efbc7d336f1667b8.gif" alt="Us"> 
    <span class="venue">Scottish Rite Temple</span> 
    <span class="venue-location">Kansas City, Missouri</span> 
    <span class="region"> <a title="MMA Region Page" href="/regions/us-midwest">US Midwest Region</a> </span> 
   </div> 
   <div class="listing"> 
    <span class="bout" title="Bout Page"><a href="/fightcenter/bouts/392346-invicta-fc-33-jinh-yu-vs-minna-brutsku-grusander-ii">Yu vs. Grusander II</a></span> 
    <span class="billing">Main Event Title Fight</span> 
   </div> 
  </div> 
  <div class="right"> 
   <div class="promotionLogo"> 
    <a href="/fightcenter/promotions/128-invicta-fighting-championships-ifc"> <img alt="IFC" class="promotionLogo" src="https://images.tapology.com/logo_squares/128/icon_bw/Invicta-FC-MMA-logo-square.png?1364862309"> </a> 
   </div> 
  </div> 
 </div> 
</section>
<section class="fcListing"> 
 <div class="main"> 
  <div class="left"> 
   <div class="promotion"> 
    <span class="name"> <a href="/fightcenter/events/55349-bellator-macfalane-vs-letourneau">Bellator 213</a> </span> 
    <span class="datetime"> Saturday, December 15, 10:00 PM ET </span> 
   </div> 
   <div class="geography"> 
    <img class="eventFlag" src="/assets/flags/US-5781b16534d0a403efbc7d336f1667b8.gif" alt="Us"> 
    <span class="venue">Neal S. Blaisdell Center</span> 
    <span class="venue-location">Honolulu, Hawaii</span> 
    <span class="region"> <a title="MMA Region Page" href="/regions/hawaii">Hawaii Region</a> </span> 
   </div> 
   <div class="listing"> 
    <span class="bout" title="Bout Page"><a href="/fightcenter/bouts/385197-bellator-ilima-lei-the-ilimanator-macfarlane-vs-valerie-trouble-letourneau">Macfarlane vs. Létourneau</a></span> 
    <span class="billing">Main Event Title Fight</span> 
   </div> 
  </div> 
  <div class="right"> 
   <div class="promotionLogo"> 
    <a href="/fightcenter/promotions/2-bellator-fighting-championships-bfc"> <img alt="BFC" class="promotionLogo" src="https://images.tapology.com/logo_squares/2/icon_bw/Bellator-MMA-logo-square.jpg?1357258228"> </a> 
   </div> 
  </div> 
 </div> 
</section>
<section class="fcListing"> 
 <div class="main"> 
  <div class="left"> 
   <div class="promotion"> 
    <span class="name"> <a href="/fightcenter/events/49923-ufc-232">UFC 232</a> </span> 
    <span class="datetime"> Saturday, December 29, 10:00 PM ET </span> 
   </div> 
   <div class="geography"> 
    <img class="eventFlag" src="/assets/flags/US-5781b16534d0a403efbc7d336f1667b8.gif" alt="Us"> 
    <span class="venue">T-Mobile Arena</span> 
    <span class="venue-location">Last Vegas, Nevada</span> 
    <span class="region"> <a title="MMA Region Page" href="/regions/us-west">US West Region</a> </span> 
   </div> 
   <div class="listing"> 
    <span class="bout" title="Bout Page"><a href="/fightcenter/bouts/387634-ufc-232-jon-bones-jones-vs-alexander-the-mauler-gustafsson-ii">Jones vs. Gustafsson II</a></span> 
    <span class="billing">Main Event Title Fight</span> 
   </div> 
  </div> 
  <div class="right"> 
   <div class="promotionLogo"> 
    <a href="/fightcenter/promotions/1-ultimate-fighting-championship-ufc"> <img alt="UFC" class="promotionLogo" src="https://images.tapology.com/logo_squares/1/icon_bw/UFC-Ultimate-Fighting-Championship-logo-square.jpg?1527187715"> </a> 
   </div> 
  </div> 
 </div> 
</section>
<section class="fcListing"> 
 <div class="main"> 
  <div class="left"> 
   <div class="promotion"> 
    <span class="name"> <a href="/fightcenter/events/51148-rizin-13">RIZIN 14</a> </span> 
    <span class="datetime"> Monday, December 31, 12:00 AM ET </span> 
   </div> 
   <div class="geography"> 
    <img class="eventFlag" src="/assets/flags/JP-31b9271bf886325d16c7bf18e630132d.gif" alt="Jp"> 
    <span class="venue">Saitama Super Arena</span> 
    <span class="venue-location">Saitama, Japan </span> 
    <span class="region"> <a title="MMA Region Page" href="/regions/japan">Japan Region</a> </span> 
   </div> 
   <div class="listing"> 
    <span class="bout" title="Bout Page"><a href="/fightcenter/bouts/397482-rizin-14-kanna-asakura-vs-ayaka-hamasaki">Asakura vs. Hamasaki</a></span> 
    <span class="billing">Main Card Title Fight</span> 
   </div> 
  </div> 
  <div class="right"> 
   <div class="promotionLogo"> 
    <a href="/fightcenter/promotions/1561-rizin-fighting-federation-rff"> <img alt="RFF" class="promotionLogo" src="https://images.tapology.com/logo_squares/1561/icon_bw/RIZIN_Fighting_Federation_Poster-sq.png?1532489938"> </a> 
   </div> 
  </div> 
 </div> 
</section>
<section class="fcListing"> 
 <div class="main"> 
  <div class="left"> 
   <div class="promotion"> 
    <span class="name"> <a href="/fightcenter/events/52580-pfl-2018-event-11-championship">PFL 2018 #11</a> </span> 
    <span class="datetime"> Monday, December 31, 7:00 PM ET </span> 
   </div> 
   <div class="geography"> 
    <img class="eventFlag" src="/assets/flags/US-5781b16534d0a403efbc7d336f1667b8.gif" alt="Us"> 
    <span class="venue">Hulu Theater at Madison Square Garden</span> 
    <span class="venue-location">New York City, New York</span> 
    <span class="region"> <a title="MMA Region Page" href="/regions/us-northeast">US Northeast Region</a> </span> 
   </div> 
   <div class="listing"> 
    <span class="bout" title="Bout Page"><a href="/fightcenter/bouts/389533-pfl-2018-11-josh-cuddly-bear-copeland-vs-philipe-lins-monstro">Copeland vs. Lins</a></span> 
    <span class="billing">Main Event Title Fight</span> 
   </div> 
  </div> 
  <div class="right"> 
   <div class="promotionLogo"> 
    <a href="/fightcenter/promotions/1969-professional-fighters-league-pfl"> <img alt="PFL" class="promotionLogo" src="https://images.tapology.com/logo_squares/1969/icon_bw/Professional_Fighters_League-logo-square.jpg?1525296562"> </a> 
   </div> 
  </div> 
 </div> 
</section>
<section class="fcListing"> 
 <div class="main"> 
  <div class="left"> 
   <div class="promotion"> 
    <span class="name"> <a href="/fightcenter/events/55048-ufc-fight-night">UFC on ESPN+ 1</a> </span> 
    <span class="datetime"> Saturday, January 19, 9:00 PM ET </span> 
   </div> 
   <div class="geography"> 
    <img class="eventFlag" src="/assets/flags/US-5781b16534d0a403efbc7d336f1667b8.gif" alt="Us"> 
    <span class="venue">Barclays Center</span> 
    <span class="venue-location">Brooklyn, New York</span> 
    <span class="region"> <a title="MMA Region Page" href="/regions/us-northeast">US Northeast Region</a> </span> 
   </div> 
   <div class="listing"> 
    <span class="bout" title="Bout Page"><a href="/fightcenter/bouts/394430-ufc-fight-night-143-belal-remember-the-name-muhammad-vs-geoff-handz-of-steel-neal">Muhammad vs. Neal</a></span> 
    <span class="billing">Main Card</span> 
   </div> 
  </div> 
  <div class="right"> 
   <div class="promotionLogo"> 
    <a href="/fightcenter/promotions/1-ultimate-fighting-championship-ufc"> <img alt="UFC" class="promotionLogo" src="https://images.tapology.com/logo_squares/1/icon_bw/UFC-Ultimate-Fighting-Championship-logo-square.jpg?1527187715"> </a> 
   </div> 
  </div> 
 </div> 
</section>
<section class="fcListing"> 
 <div class="main"> 
  <div class="left"> 
   <div class="promotion"> 
    <span class="name"> <a href="/fightcenter/events/55750-bellator">Bellator 214</a> </span> 
    <span class="datetime"> Saturday, January 26, 9:00 PM ET </span> 
   </div> 
   <div class="geography"> 
    <img class="eventFlag" src="/assets/flags/US-5781b16534d0a403efbc7d336f1667b8.gif" alt="Us"> 
    <span class="venue">The Forum</span> 
    <span class="venue-location">Los Angeles, California</span> 
    <span class="region"> <a title="MMA Region Page" href="/regions/us-west">US West Region</a> </span> 
   </div> 
   <div class="listing"> 
    <span class="bout" title="Bout Page"><a href="/fightcenter/bouts/390608-bellator-the-last-emperor-fedor-emelianenko-vs-ryan-darth-bader">Emelianenko vs. Bader</a></span> 
    <span class="billing">Main Event Title Fight</span> 
   </div> 
  </div> 
  <div class="right"> 
   <div class="promotionLogo"> 
    <a href="/fightcenter/promotions/2-bellator-fighting-championships-bfc"> <img alt="BFC" class="promotionLogo" src="https://images.tapology.com/logo_squares/2/icon_bw/Bellator-MMA-logo-square.jpg?1357258228"> </a> 
   </div> 
  </div> 
 </div> 
</section>
<section class="fcListing"> 
 <div class="main"> 
  <div class="left"> 
   <div class="promotion"> 
    <span class="name"> <a href="/fightcenter/events/56262-ufc-233">UFC 233</a> </span> 
    <span class="datetime"> Saturday, January 26, 10:00 PM ET </span> 
   </div> 
   <div class="geography"> 
    <img class="eventFlag" src="/assets/flags/US-5781b16534d0a403efbc7d336f1667b8.gif" alt="Us"> 
    <span class="venue">Honda Center</span> 
    <span class="venue-location">Anaheim, California</span> 
    <span class="region"> <a title="MMA Region Page" href="/regions/us-west">US West Region</a> </span> 
   </div> 
   <div class="listing"> 
    <span class="bout" title="Bout Page"><a href="/fightcenter/bouts/394785-ufc-233-henry-the-messenger-cejudo-vs-t-j-dillashaw">Cejudo vs. Dillashaw</a></span> 
    <span class="billing">Main Event Title Fight</span> 
   </div> 
  </div> 
  <div class="right"> 
   <div class="promotionLogo"> 
    <a href="/fightcenter/promotions/1-ultimate-fighting-championship-ufc"> <img alt="UFC" class="promotionLogo" src="https://images.tapology.com/logo_squares/1/icon_bw/UFC-Ultimate-Fighting-Championship-logo-square.jpg?1527187715"> </a> 
   </div> 
  </div> 
 </div> 
</section>
<section class="fcListing"> 
 <div class="main"> 
  <div class="left"> 
   <div class="promotion"> 
    <span class="name"> <a href="/fightcenter/events/56348-ufc-fight-night-144">UFC on ESPN+ 2</a> </span> 
    <span class="datetime"> Saturday, February 02, 9:00 PM ET </span> 
   </div> 
   <div class="geography"> 
    <img class="eventFlag" src="/assets/flags/BR-59385140a28acdbb40814d87219da867.gif" alt="Br"> 
    <span class="venue">Centro de Formacao Olimpica do Nordeste</span> 
    <span class="venue-location">Fortaleza, Ceara, Brazil</span> 
    <span class="region"> <a title="MMA Region Page" href="/regions/brazil">Brazil Region</a> </span> 
   </div> 
   <div class="listing"> 
   </div> 
  </div> 
  <div class="right"> 
   <div class="promotionLogo"> 
    <a href="/fightcenter/promotions/1-ultimate-fighting-championship-ufc"> <img alt="UFC" class="promotionLogo" src="https://images.tapology.com/logo_squares/1/icon_bw/UFC-Ultimate-Fighting-Championship-logo-square.jpg?1527187715"> </a> 
   </div> 
  </div> 
 </div> 
</section>
<section class="fcListing"> 
 <div class="main"> 
  <div class="left"> 
   <div class="promotion"> 
    <span class="name"> <a href="/fightcenter/events/56334-ufc-234">UFC 234</a> </span> 
    <span class="datetime"> Saturday, February 09, 10:00 PM ET </span> 
   </div> 
   <div class="geography"> 
    <img class="eventFlag" src="/assets/flags/AU-03226de7c5fecc624183273b43b25524.gif" alt="Au"> 
    <span class="venue-location">Melbourne, Victoria, Australia</span> 
    <span class="region"> <a title="MMA Region Page" href="/regions/australia">Australia &amp; New Zealand Region</a> </span> 
   </div> 
   <div class="listing"> 
    <span class="bout" title="Bout Page"><a href="/fightcenter/bouts/393903-ufc-234-robert-the-reaper-whittaker-vs-kelvin-gastelum">Whittaker vs. Gastelum</a></span> 
    <span class="billing">Main Event Title Fight</span> 
   </div> 
  </div> 
  <div class="right"> 
   <div class="promotionLogo"> 
    <a href="/fightcenter/promotions/1-ultimate-fighting-championship-ufc"> <img alt="UFC" class="promotionLogo" src="https://images.tapology.com/logo_squares/1/icon_bw/UFC-Ultimate-Fighting-Championship-logo-square.jpg?1527187715"> </a> 
   </div> 
  </div> 
 </div> 
</section>
<section class="fcListing"> 
 <div class="main"> 
  <div class="left"> 
   <div class="promotion"> 
    <span class="name"> <a href="/fightcenter/events/56349-ufc-fight-night-145">UFC on ESPN 1</a> </span> 
    <span class="datetime"> Sunday, February 17, 9:00 PM ET </span> 
   </div> 
   <div class="geography"> 
    <img class="eventFlag" src="/assets/flags/US-5781b16534d0a403efbc7d336f1667b8.gif" alt="Us"> 
    <span class="venue">Talking Stick Resort Arena</span> 
    <span class="venue-location">Phoenix, Arizona</span> 
    <span class="region"> <a title="MMA Region Page" href="/regions/us-southwest">US Southwest Region</a> </span> 
   </div> 
   <div class="listing"> 
   </div> 
  </div> 
  <div class="right"> 
   <div class="promotionLogo"> 
    <a href="/fightcenter/promotions/1-ultimate-fighting-championship-ufc"> <img alt="UFC" class="promotionLogo" src="https://images.tapology.com/logo_squares/1/icon_bw/UFC-Ultimate-Fighting-Championship-logo-square.jpg?1527187715"> </a> 
   </div> 
  </div> 
 </div> 
</section>
<section class="fcListing"> 
 <div class="main"> 
  <div class="left"> 
   <div class="promotion"> 
    <span class="name"> <a href="/fightcenter/events/56350-ufc-fight-night-146">UFC on ESPN+ 3</a> </span> 
    <span class="datetime"> Saturday, February 23, 9:00 PM ET </span> 
   </div> 
   <div class="geography"> 
    <img class="eventFlag" src="/assets/flags/CZ-1d4fdd26de754203189fb8c5b06de29f.gif" alt="Cz"> 
    <span class="venue">O2 Arena</span> 
    <span class="venue-location">Prague, Czech Republic</span> 
    <span class="region"> <a title="MMA Region Page" href="/regions/europe-eastern">Europe Eastern Region</a> </span> 
   </div> 
   <div class="listing"> 
   </div> 
  </div> 
  <div class="right"> 
   <div class="promotionLogo"> 
    <a href="/fightcenter/promotions/1-ultimate-fighting-championship-ufc"> <img alt="UFC" class="promotionLogo" src="https://images.tapology.com/logo_squares/1/icon_bw/UFC-Ultimate-Fighting-Championship-logo-square.jpg?1527187715"> </a> 
   </div> 
  </div> 
 </div> 
</section>
<section class="fcListing"> 
 <div class="main"> 
  <div class="left"> 
   <div class="promotion"> 
    <span class="name"> <a href="/fightcenter/events/56351-ufc-235">UFC 235</a> </span> 
    <span class="datetime"> Saturday, March 02, 10:00 PM ET </span> 
   </div> 
   <div class="geography"> 
    <img class="eventFlag" src="/assets/flags/US-5781b16534d0a403efbc7d336f1667b8.gif" alt="Us"> 
    <span class="venue">T-Mobile Arena</span> 
    <span class="venue-location">Las Vegas, Nevada</span> 
    <span class="region"> <a title="MMA Region Page" href="/regions/us-west">US West Region</a> </span> 
   </div> 
   <div class="listing"> 
    <span class="bout" title="Bout Page"><a href="/fightcenter/bouts/396503-ufc-235-nick-diaz-vs-jorge-gamebred-masvidal">Diaz vs. Masvidal</a></span> 
    <span class="billing">Main Card</span> 
   </div> 
  </div> 
  <div class="right"> 
   <div class="promotionLogo"> 
    <a href="/fightcenter/promotions/1-ultimate-fighting-championship-ufc"> <img alt="UFC" class="promotionLogo" src="https://images.tapology.com/logo_squares/1/icon_bw/UFC-Ultimate-Fighting-Championship-logo-square.jpg?1527187715"> </a> 
   </div> 
  </div> 
 </div> 
</section>